
body{
    background-color: #1B5351;
   
    
}

#text{
    color: white;
    font-size: 1.3em;
    margin-top: 1%;
    text-decoration: none;
    
}

#text1{
    font-size: 2.3em;
    margin-top: 0.4%;
}

#text:hover{
    color: rgb(0, 72, 255);

} 

.navbar{
display: flex;
justify-content: space-evenly;
margin-top: 20px;

}

#textAndIcon{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 57px;
}

#glad-to-text{
    font-size: 2.5em;
}

#footer{
    display: flex;
    justify-content: space-between;
    margin-left: 55px;
    font-size: 0.7em;
    background-color: black;
    color: white;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 25px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 160px;
    
    
    
}

#mentor{
    width:300px;
    height:250px;
    border-radius: 15px;
}

#image{
    width:60px;
    height:60px;
    
}



@media screen and (min-width:240px) and (max-width: 750px) {
  
    
    .navbar{
    flex-wrap: wrap;
    flex-direction: column;
    
    justify-content: space-evenly;
    margin-top: 20px;
    
    
    }
    
    #textAndIcon{
        flex-wrap: wrap;
        margin-top: 20px;
        margin-bottom: 27px;
    }
    
    #glad-to-text{
        font-size: 2em;
    }
    
    #footer{
        flex-wrap: wrap;
        font-size: 0.7em;
        padding-right: 30px;
        padding-left: 30px;
        margin-left: 12px;
        margin-top: 80px;
        margin-right: 12px;
        margin-bottom: -40px;
           
    }
    
    #mentor{
        width:250px;
        height:200px;
        border-radius: 15px;
    }
    
    #image{
        width:60px;
        height:60px;
        
    }
    
}




@media screen and (min-width:751px) and (max-width: 1030px) {
  
    
 #glad-to-text{
        font-size: 3.2em;
    }
    
    #footer{
        font-size: 0.9em;
        margin-left: 12px;
        margin-top: 100px;
        
        
           
    }
    
    #mentor{
        width:390px;
        height:260px;
        border-radius: 15px;
    }
    
    #image{
        width:60px;
        height:60px;
        
    }
    
}


    
    
